:root
{
    --color-links: #F29C25;
    --color-warning: #F29C25;
    --color-white: #ffffff;
    --color-blue: #272F77;
    --color-black: #000000;
    --font-primary:"Rubik", sans-serif;
    --color-primary:#272F77;
}